  .toggle-small input:checked + .track{
    background-color: $c6 !important;
    background: $c6 !important;
    opacity: 0.5;
  }

  .toggle-small input:checked + .track .handle{
    background: #FFF !important;
  }
