<div class="login-form">
    <header class="text-center c1 f4">Login </header>
    <style>
        .form-control{
            margin-bottom: 5px;
        }
        .error-alert{
            color: red;
            font-size: 70%;
        }
    </style>
    <form name="loginForm" class="form">
        <div class="input-group input-form margin-top-20">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input ng-disabled='authenticating' ng-model= "loginUser.login"class="form-control" type="email"
                   placeholder="Login" name="login" required>
        </div>

        <div class="input-group input-form margin-top-20">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input  ng-disabled='authenticating' ng-model= "loginUser.senha" class="form-control" type="password"
                    placeholder="Senha" name="senha" required>
        </div>
    </form>

    <label class="checkbox checkbox-login item-checkbox-transparent f1">
        <input  ng-disabled='authenticating' type="checkbox" id="manterLogado">
        <span>Mantenha-me conectado</span>
    </label>
    <div ng-controller="RegisterUserCtrl" class="col-sm-12 text-center margin-top-10 padding-0">
        <div class="row-fluid">
            <div class="span13 text-center" >
                <a ng-class="{disabled: authenticating}" class="inline col-sm-6 c1 padding-left-0"
                   ng-click="createSendPasswordPopup()">Recuperar senha</a>
            </div>
        </div>
    </div>
    <button class="btn btn-block btn-primary login-form-button margin-top-80"
            ng-disabled='authenticating' ng-click="login()">
        <span ng-hide ="authenticating">Enviar</span>
        <!--<ion-spinner ng-show="authenticating" class="spinner-light"></ion-spinner>-->
    </button>
</div>
