.item-comment {
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-left: 65px !important;
  background-color: $c4;
  .comment-title {
    padding-right: 0px !important;
    padding-left: 0px
  }

  .comment-informations {
    margin-top: 10px;
  }

  .comment-icon{
    margin-top: 7px;
    text-align: center;
  }

}

.popup-container{
  z-index: 1041;
  background: rgba(0, 0, 0, 0.5);
}
.popover-backdrop {
  z-index: 1070;
  .popover {
    display: block !important;
    max-width: 165px !important;
    max-height: 110px !important;
    margin-top: 0px !important;
    .item{
      padding: 12px !important;
    }
  }
}

.scroll-bar-indicator
{
  display: none;
}
.comments{
  background-color: $c4;
  height: auto;
  margin-bottom: 46px;
  ion-scroll{
    width: 100%;
  }
}

.comments-modal{
    display: block !important;
    margin-left: 0px;
    width: 100%;
    ion-header-bar{
      i{
        margin-left: 9%
      }
      img{
        width: 33px !important;
      }
    }

    ion-footer-bar{
      img{
        width: 45px !important;
        margin-left: 5px;
        margin-right: 10px;
      }

      label{
        margin-bottom: 0px !important;
      }
    }
}
