.search-component {
  .search-button {
    margin-left: 15px;
    margin-right: 0px;
    font-size: 27px;
  }
}

.bar-subheader {
  top: 90px;
  display: block;
  height: 66px;
}
.subheader-adjust{
  top: 155px !important;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.1s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
}
