.timeline-content{
  background-color: $c5 !important;
}

.publication{
  img{
    width: 100%;
    height: 100%;
  }

  ion-content{
    padding: 0px !important;
    .scroll{
      hr{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
    }
  }
}

.evaluate-flex{
  flex: 0.96 !important;
  padding-right: 3%!important;
}

.promotion-informations{
  color: #808080;
  font-size: 11px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif !important;
  .scroll{
    padding : 7px !important;
  }
}

.promotion-details{
  color: #3b5998;
  font-family: 'Roboto', sans-serif !important;
  .row{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
}

.content-gradient{
  border-radius: 30px 0px;
  text-align: center;
  position: absolute;
  left:50%;
  width:50%;
  height: 51px;
  color: #FFF;
  background: rgba(239,71,58,0.7);
  h2{
    line-height: 55px;
  }
}

.timeline-background{
  background-color: inherit;
  .list {
    background-color: inherit;
  }
}

&.bar-stable{
  height: auto;
}

.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  //height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative;
  height: 100%;
  width: 50px;
  top: 15px;
}

.footer-btn {
  position: absolute !important;
  bottom: 0;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  margin-top: 15px;
  white-space: pre-line;
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

input, textarea, .item-input, .item-input-wrapper {
  background-color: #f4f4f4 !important;
}

.bold {
  font-weight: bold;
}

.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

/* loading */
.loader-center {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader .ion-loading-c {
  font-size: 64px;
}
.timeline-end{
  text-align: center;
  margin-top: 30px !important;
  color: #b2b2b2;
}

.card-separator{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.discount-component{
  display:block;
  position:relative;
}

.active .modal-backdrop-bg {
  opacity: .5;
  transition: opacity 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-backdrop{
  background-color: rgba(0, 0, 0, .075) !important;
}

.establishment-title-timeline{
  font-family: 'Roboto';
  color: #3b5998 !important;
  font-size: 14px;
  line-height: 18px;
}

.establishment-subtitle-timeline{
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
}

