/* Empty. Add your own CSS if you like */
.home-content{
  width:100%;
  margin-right: auto;
  margin-left: auto;
  background-color: $c4;
  height: 100%;
}

.home-nav{
  nav {
    background-color: $c6;
  }
}

.lateral-slide-menu{
  background-color: $c7 !important;
  top: 8.5%;
}

.lateral-slide-menu a.selected {
  color: $c7 !important;
  background: $c4;
}

a:active {
  @extend .selected;
}