/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
.c1 {
  color: #FFF !important; }

.c2 {
  color: #0D4BD0 !important; }

.c3 {
  color: #b2b2b2 !important; }

.c4 {
  color: #f8f8f8 !important; }

.background-color-c1 {
  background-color: #33CD5F; }

.background-color-c4 {
  background-color: #f8f8f8 !important; }

.f1 {
  font-size: 15px !important; }

.f2 {
  font-size: 17px !important; }

.f3 {
  font-size: 22px !important; }

.f4 {
  font-size: 28px !important; }

.f5 {
  font-size: 32px !important; }

.item-checkbox-transparent {
  border-color: transparent;
  border-width: 0;
  background-color: transparent;
  color: #FFF; }

.border-right {
  border-right: solid 0.1pc white; }

.checkbox-login {
  line-height: 1.6em !important;
  margin-left: 24px; }
  .checkbox-login span {
    margin-left: 12px; }

.login-form {
  margin-top: 110px;
  margin-left: 35%;
  margin-right: 35%; }
  .login-form .input-form input {
    height: 40px; }
  .login-form .input-form input[type=email], .login-form .input-form input[type=password] {
    padding-left: 15px; }
  .login-form .input-form span {
    border: 0px; }
  .login-form input[type=checkbox] {
    width: 16px !important;
    height: 16px !important; }
  .login-form .checkbox input:after {
    left: 20% !important;
    top: 22% !important;
    width: 10px; }
  .login-form .checkbox input:disabled:checked:before {
    background: #387ef5 !important;
    border-color: #387ef5 !important;
    opacity: .5; }
  .login-form a {
    text-decoration: blink !important; }
  .login-form a.disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none; }
  .login-form a.activated {
    text-decoration: underline !important; }
  .login-form .login-form-button[disabled] {
    opacity: .5 !important;
    line-height: 20px !important; }
  .login-form button {
    margin-top: 70px !important; }

html {
  height: 100%; }
  html body {
    height: 100%;
    background-color: #33CD5F; }
    html body .main-content {
      height: 100%; }

.pane, .view {
  top: -1px; }

.cropArea {
  background: #E4F4E4;
  overflow: hidden;
  width: 220px;
  height: 150px; }

.row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.button-positive, .bar-positive {
  background-color: #0D4BD0 !important; }

.button-stable {
  background-color: #ddd !important; }

.padding-top-110 {
  padding-top: 110px; }

.padding-horizontal-30 {
  padding-left: 40px;
  padding-right: 40px; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.no-margin {
  margin: 0px !important; }

.box-shadow {
  box-shadow: 1px 1px 1px #000; }

.padding-0 {
  padding: 0px !important; }

.padding-left-0 {
  padding-left: 0px !important; }

.padding-left-15 {
  padding-left: 15px !important; }

.padding-left-30 {
  padding-left: 30px !important; }

.padding-right-0 {
  padding-right: 0px !important; }

.opacity-60 {
  opacity: 0.6 !important; }

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 210px; }

.tab-title {
  font-size: 15px; }

.buttons-right {
  margin-right: 15px; }

.scroll-refresher .ionic-refresher-content.ionic-refresher-with-text {
  bottom: 3px !important; }

.background-size-0 {
  background-size: 0px; }

.padding-left-15 {
  padding-left: 15px !important; }

.padding-left-15 {
  padding-left: 15px !important; }

.padding-top-110 {
  padding-top: 110px; }

.background-size-empty {
  background-size: 0px; }

.width-100 {
  width: 100%; }

/* Empty. Add your own CSS if you like */
.circ-container img {
  border-radius: 50%;
  max-width: 40px;
  max-height: 30px; }

.home-tab .tab-nav .tab-item-active {
  border-color: #0D4BD0; }

.tabs-striped.tabs-balanced .tab-item.tab-item-active {
  color: #0D4BD0 !important; }

.dropdown-menu {
  left: -133px !important;
  min-width: 165px; }

.popover {
  padding: 0px 0px;
  max-width: 130px;
  max-height: 0px;
  border-radius: 5%; }

.po ul {
  width: 130px;
  background: #33C05F;
  color: white;
  list-style: none;
  padding-left: 0px;
  border: solid 1px #33B05F; }

.po li {
  border-bottom: 1px solid #33A05F;
  border-top: 1px solid #33A05F; }

.po li a {
  color: #FFF;
  display: block;
  font-weight: normal;
  line-height: 30px;
  margin: 0px;
  text-align: left;
  padding-left: 10px;
  text-decoration: none; }

.po li a:active {
  background: #33A05F;
  color: #000; }

.po li:first-child {
  border-top: none; }

.po li:last-child {
  border-bottom: none; }

.avatar-img {
  width: 35px !important;
  margin-left: 10px;
  margin-right: 25px; }

.avatar-label {
  line-height: 2.42857; }

.tab-title {
  font-size: 15px; }

.home-tab .tab-nav {
  background-color: #33CD5F !important; }
  .home-tab .tab-nav .tab-item-active {
    border-color: #0D4BD0 !important; }

.tabs-striped.tabs-balanced .tab-item.tab-item-active {
  color: #0D4BD0 !important; }

.timeline-content {
  background-color: rgba(158, 158, 158, 0.17) !important; }

.publication img {
  width: 100%;
  height: 100%; }

.publication ion-content {
  padding: 0px !important; }
  .publication ion-content .scroll hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important; }

.evaluate-flex {
  flex: 0.96 !important;
  padding-right: 3% !important; }

.promotion-informations {
  color: #808080;
  font-size: 11px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif !important; }
  .promotion-informations .scroll {
    padding: 7px !important; }

.promotion-details {
  color: #3b5998;
  font-family: 'Roboto', sans-serif !important; }
  .promotion-details .row {
    margin-bottom: 10px !important;
    margin-top: 10px !important; }

.content-gradient {
  border-radius: 30px 0px;
  text-align: center;
  position: absolute;
  left: 50%;
  width: 50%;
  height: 51px;
  color: #FFF;
  background: rgba(239, 71, 58, 0.7); }
  .content-gradient h2 {
    line-height: 55px; }

.timeline-background {
  background-color: inherit; }
  .timeline-background .list {
    background-color: inherit; }

.bar-stable {
  height: auto; }

.bar-footer {
  overflow: visible !important; }

.bar-footer textarea {
  resize: none; }

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px; }

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative;
  height: 100%;
  width: 50px;
  top: 15px; }

.footer-btn {
  position: absolute !important;
  bottom: 0; }

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px; }

img.profile-pic.left {
  left: 10px; }

img.profile-pic.right {
  right: 10px; }

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle; }

.message {
  margin-top: 15px;
  white-space: pre-line;
  font-size: 14px; }

.message-detail {
  white-space: nowrap;
  font-size: 14px; }

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important; }

.message-wrapper {
  position: relative; }

.message-wrapper:last-child {
  margin-bottom: 10px; }

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%; }

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px; }

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px; }

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg); }

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px; }

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg); }

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold; }

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px; }

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px; }

input, textarea, .item-input, .item-input-wrapper {
  background-color: #f4f4f4 !important; }

.bold {
  font-weight: bold; }

.cf {
  clear: both !important; }

a.autolinker {
  color: #3b88c3;
  text-decoration: none; }

/* loading */
.loader-center {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.loader .ion-loading-c {
  font-size: 64px; }

.timeline-end {
  text-align: center;
  margin-top: 30px !important;
  color: #b2b2b2; }

.card-separator {
  margin-bottom: 0px !important;
  margin-top: 0px !important; }

.discount-component {
  display: block;
  position: relative; }

.active .modal-backdrop-bg {
  opacity: .5;
  transition: opacity 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5) !important; }

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.075) !important; }

.establishment-title-timeline {
  font-family: 'Roboto';
  color: #3b5998 !important;
  font-size: 14px;
  line-height: 18px; }

.establishment-subtitle-timeline {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px; }

.search-component .search-button {
  margin-left: 15px;
  margin-right: 0px;
  font-size: 27px; }

.bar-subheader {
  top: 90px;
  display: block;
  height: 66px; }

.subheader-adjust {
  top: 155px !important; }

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s; }

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.1s; }

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px; }

.check-element {
  padding: 10px; }

.item-comment {
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-left: 65px !important;
  background-color: #f8f8f8; }
  .item-comment .comment-title {
    padding-right: 0px !important;
    padding-left: 0px; }
  .item-comment .comment-informations {
    margin-top: 10px; }
  .item-comment .comment-icon {
    margin-top: 7px;
    text-align: center; }

.popup-container {
  z-index: 1041;
  background: rgba(0, 0, 0, 0.5); }

.popover-backdrop {
  z-index: 1070; }
  .popover-backdrop .popover {
    display: block !important;
    max-width: 165px !important;
    max-height: 110px !important;
    margin-top: 0px !important; }
    .popover-backdrop .popover .item {
      padding: 12px !important; }

.scroll-bar-indicator {
  display: none; }

.comments {
  background-color: #f8f8f8;
  height: auto;
  margin-bottom: 46px; }
  .comments ion-scroll {
    width: 100%; }

.comments-modal {
  display: block !important;
  margin-left: 0px;
  width: 100%; }
  .comments-modal ion-header-bar i {
    margin-left: 9%; }
  .comments-modal ion-header-bar img {
    width: 33px !important; }
  .comments-modal ion-footer-bar img {
    width: 45px !important;
    margin-left: 5px;
    margin-right: 10px; }
  .comments-modal ion-footer-bar label {
    margin-bottom: 0px !important; }

/* Empty. Add your own CSS if you like */
.home-content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #f8f8f8;
  height: 100%; }

.home-nav nav {
  background-color: #33CD5F; }

.lateral-slide-menu {
  background-color: #2D67D2 !important;
  top: 8.5%; }

.lateral-slide-menu a.selected, .lateral-slide-menu a:active {
  color: #2D67D2 !important;
  background: #f8f8f8; }
