<div class="home-content" lateral-slide-menu-controller >

    <!-- MENU -->
    <lateral-slide-menu ng-cloak>
        <ul>
            <li><a>Home</a></li>
            <li><a >About</a></li>
            <li><a  class="selected">Demo</a></li>
            <li><a >How to use</a></li>
            <li><a >Profil</a></li>
            <li><a >Contact</a></li>
        </ul>

    </lateral-slide-menu>
    <div class="home-nav">
        <nav class="navbar navbar-default" role="navigation">

        </nav>
    </div>
</div>