html{
  height: 100%;
  body{
    height:100%;
    background-color: $c6;
    .main-content{
      height: 100%;
    }
  }
}
.pane, .view{
  top: -1px;
}

.cropArea {
  background: #E4F4E4;
  overflow: hidden;
  width:220px;
  height:150px;
}

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.button-positive, .bar-positive{
  background-color: $c2 !important;
}

.button-stable{
  background-color: #ddd !important;
}
.padding-top-110{
  padding-top: 110px;
}

.padding-horizontal-30{
  padding-left: 40px;
  padding-right: 40px;
}

.margin-top-10{
  margin-top: 10px !important;
}
.margin-top-20{
  margin-top: 20px !important;
}

.no-margin{
  margin: 0px !important;
}

.box-shadow{
  box-shadow: 1px 1px 1px #000;
}

.padding-0{
  padding:0px !important;
}
.padding-left-0{
  padding-left: 0px !important;
}
.padding-left-15 {
  padding-left: 15px !important;
}
.padding-left-30{
  padding-left: 30px !important;
}
.padding-right-0{
  padding-right: 0px !important;
}

.opacity-60{
  opacity: 0.6 !important;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 210px;
}

.tab-title{
  font-size: 15px;
}

.buttons-right{
  margin-right: 15px;
}
.scroll-refresher .ionic-refresher-content.ionic-refresher-with-text{
  bottom: 3px !important;
}
.background-size-0{
  background-size: 0px;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-top-110{
   padding-top: 110px;
}

.background-size-empty{
   background-size: 0px;
}

.width-100{
  width: 100%
}
