$c1 : #FFF;
$c2 : #0D4BD0;
$c3 : #b2b2b2;
$c4 : #f8f8f8;
$c5 : rgba(158, 158, 158, 0.17);
$c6 : #33CD5F;
$c7 : #2D67D2;

.c1{
  color: $c1 !important;
}

.c2{
  color: $c2 !important;
}

.c3{
  color: $c3 !important;
}

.c4{
  color: $c4 !important;
}

.background-color-c1{
  background-color: $c6 ;
}
.background-color-c4{
  background-color: $c4 !important;
}
